@model CinemaManagement.MVC.Models.Hall

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hall</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
    @foreach (var item in Model.Seats)
    {
        <button style="background-color:orangered">@item.Row @item.Number</button>
        if (Model.Seats.Where(x => x.Row == item.Row).Count() == item.Number)
        {
           <div style="padding-top:10px;"></div>
        }


    }

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
