@model ShowIndexViewModel

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Shows", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Create Show</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->

            <div class="card-body">
                <div class="form-group">
                    @Html.LabelFor(x => x.MovieId)
                    @Html.DropDownListFor(x => x.MovieId, null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.HallId)
                    @Html.DropDownListFor(x => x.HallId, null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.StartDate)
                    @Html.TextBoxFor(x => x.StartDate, null, new { @class = "form-control datetimepicker1", type = "text", autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.StartDate)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.EndDate)
                    @Html.TextBoxFor(x => x.EndDate, null, new { @class = "form-control datetimepicker1", type = "text", autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.EndDate)
                </div>
                <div class="form-group timesDiv">
                    <label for="Times">
                        Times
                        <a href="#" class="d-inline" id="timeSpanAdd"><i class="fas fa-plus-circle"></i></a>
                        <a href="#" class="d-inline" id="timeSpanRemove"><i class="fas fa-minus-circle" style="color:red"></i></a>
                    </label>
                    @Html.TextBoxFor(x => x.Times, null, new { @class = "form-control timepicker", type = "text", autocomplete = "off" })

                </div>
                <div class="form-group ">
                    @Html.LabelFor(x => x.Price)
                    @Html.TextBoxFor(x => x.Price, null, new { @class = "form-control ", type = "number", step = 1, Value = 15 })

                </div>
            </div>
        </div>
        <div class="form-group ml-2">
            <a href="@Url.Action("Index")" class="btn btn-warning">Cancel</a>
            <button type="submit" class="btn btn-primary">Add</button>

        </div>
    </div>

}
@section scripts{
    <script src="~/Areas/Admin/Content/dist/js/admin.shows.js"></script>
}
